<nav class="navbar">
  <div class="navbar-brand">
    <a href="/">RailsWatchList</a>
  </div>
  <ul class="navbar-links">
    <li><a href="/">Accueil</a></li>
    <li><a href="/popular">Films Populaires</a></li>
    <li><a href="/recommendations">Recommandations</a></li>
    <li><a href="/new_list">Nouvelle Liste</a></li>
  </ul>
</nav>
