// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// app/assets/stylesheets/application.scss

// Custom styles

/* Global styles */
body {
  background-color: rgba(181, 182, 187, 0.37); /* Couleur de fond de votre choix */
}

/* Styles for card components */
.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Assure que la carte occupe toute la hauteur */
  border: 1px solid rgba(0, 0, 0, 0.125); /* Bordure de la carte */
  border-radius: 0.25rem; /* Coins arrondis */
  transition: box-shadow 0.3s ease; /* Transition douce pour l'ombre */
  margin: 10px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère au survol */
}

.card-body {
  flex-grow: 1; /* Permet au corps de la carte de s'étendre pour occuper tout l'espace disponible */
  padding: 1rem; /* Ajoute un padding au corps de la carte */
}

.card-title {
  display: flex;
  align-items: center; /* Centre verticalement les éléments dans le titre */
  margin-bottom: 0; /* Retire la marge en bas du titre */
}

.card-title a {
  color: #000; /* Couleur du texte du titre */
  font-weight: bold; /* Texte en gras */
  text-decoration: none; /* Pas de soulignement */
  margin-right: 0.5rem; /* Marge à droite du titre */
}

.badge {
  margin-left: auto; /* Déplace le badge à l'extrême droite du titre */
  font-size: 1rem; /* Taille du texte du badge */
  background-color: #ffc107; /* Couleur de fond du badge */
  color: #000; /* Couleur du texte du badge */
  padding: 0.5rem 1rem; /* Rembourrage du badge */
  border-radius: 1rem; /* Coins arrondis du badge */
}

/* Styles for buttons */
.btn-primary {
  background-color: #007bff; /* Couleur de fond du bouton primaire */
  border-color: #007bff; /* Couleur de la bordure du bouton primaire */
}

.btn-secondary {
  background-color: #6c757d; /* Couleur de fond du bouton secondaire */
  border-color: #6c757d; /* Couleur de la bordure du bouton secondaire */
}

.btn-danger {
  background-color: #dc3545; /* Couleur de fond du bouton danger */
  border-color: #dc3545; /* Couleur de la bordure du bouton danger */
}

.btn {
  color: #353434; /* Couleur du texte des boutons */
}

.btn:hover {
  color: #fff; /* Couleur du texte des boutons au survol */
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.banner h1,h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards-container {
  width: 100%;
}

.cards-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card{

  background-color: rgba(181, 182, 187, 0.37);
}